{% extends 'base.html.twig' %}

{% block title %}Ecole maternelle et primaire à Louvain-La-Neuve{% endblock %}

{% block content %}
<div class="banner">
  <div class="banner__content">
    <div class="marquee-container">
      <div class="marquee paused">
        <div class="banner__text">
          <div class="news-container" data-news-objects="{{ news|json_encode() }}"></div>
        </div>
      </div>
    </div>
    <button class="banner__close" type="button">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
</div>

 <div class="ftco-blocks-cover-1">
       
      <div class="site-section-cover overlay">
       
        <div class="container">
          <div class="row align-items-center mt-5">
            <div class="col-md-6 mt-5 pt-5">
              <span class="text-cursive h5 text-red">Bienvenue sur le site du collège du Biéreau</span>
              <h1 class="mb-3 font-weight-bold text-teal">Une école maternelle et primaire au c&oelig;ur de Louvain-La-Neuve</h1>
              <p class="mt-5"><a href="{{ path('app_ecole_presentation') }}" class="btn btn-primary py-4 btn-custom-1">En savoir plus</a></p>
            </div>
          </div>
        </div>
      </div>
    

    <div class="video-wrap">
        <video id="myVideo" autoplay preload="auto" muted class="custom-video">   
            <source id="videoSource" class="video-file" src="images/videos/biereau1.mp4" type='video/mp4'>
        </video>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="block-2 red">
              <span class="wrap-icon">
                <span class="icon-users"></span>
              </span>
              <h2>Equipe dynamique et à l’écoute</h2>
              <p>Les enseignants maternels et primaires, les maîtres spéciaux de néerlandais, religion, psychomotricité et éducation physique, les responsables de projets, les accueillants extrascolaires, le secrétariat et la direction font vivre le projet pédagogique de l’école</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 teal">
              <span class="wrap-icon">
                <span class="icon-heart"></span>
              </span>
              <h2>Développement durable</h2>
              <p>Le Projet d’établissement du Collège du Biéreau est orienté autour de la thématique du «Développement Durable». Cette thématique générale est une porte d’entrée magnifique pour rendre nos enfants acteurs, pour leur permettre de réfléchir, de comprendre et de prendre du recul, pour les préparer à être des citoyens responsables, tout en construisant et en acquérant leurs compétences et en s’appropriant leurs savoirs</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="block-2 yellow">
              <span class="wrap-icon">
                <span class="icon-book"></span>
              </span>
              <h2>Projet pédagogique ambitieux</h2>
              <p>Une école chrétienne dans un environnement ouvert, une organisation structurée, de la rigueur dans les apprentissages et dans les contenus, une évaluation continue, un contrat éducatif « famille-école », des cours de religion catholique, de langues et de sport</p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
  /* CAROUSEL DE NEWS */
  //list of slides to be shown
  const content = $('.news-container').data('newsObjects')

  let key = 0;
  const marquee = $('.marquee');
  marquee.on('animationstart', () => {
      key = 0;
      marquee.text(content[key]);
  });
  marquee.on('animationiteration', () => {
      key++;
      if(typeof content[key] === 'undefined') key = 0;
      marquee.text(content[key]);
  });
  marquee.removeClass('paused');
  
  /* CAROUSEL CLOSING BUTTON */
  $('.banner__close').on("click", function () {
      this.closest(".banner").style.display = "none";
  })

  /* RANDOM VIDEO BACKGROUND */

  var sources = [
    'biereau1.mp4',
    'biereau2.mp4',
    'biereau3.mp4',
    'biereau4.mp4',
    'biereau5.mp4',
    'biereau6.mp4',
  ];

  $('#myVideo').on('ended', function() {

      Array.prototype.sample = function(){
        return this[Math.floor(Math.random()*this.length)];
      }

      document.getElementById("videoSource").setAttribute("src",'/images/videos/'+sources.sample());
      document.getElementById("myVideo").load();
      document.getElementById("myVideo").play();
  })



</script>
{% endblock %}