{% extends 'base.html.twig' %}

{% block title %}Projet pédagogique{% endblock %}

{% block content %}
<div class="ftco-blocks-cover-1">
    <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
    <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('{{ asset('build/projet-peda.jpg') }}')">
    <div class="container">
        <div class="row align-items-center ">

        <div class="col-md-5 mt-5 pt-5">
            <span class="text-cursive h5 text-red">Notre école</span>
            <h1 class="mb-3 font-weight-bold text-teal">Projet Pédagogique</h1>
            <p><a href="{{ path('app_home') }}" class="text-white">Accueil</a> <span class="mx-3">/</span> <strong>Projet pédagogique </strong></p>
        </div>
        
        </div>
    </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
    <div class="row">

        <div class="col-md-4">
          <img src="{{ asset('build/img_1.jpg') }}" alt="Image" class="img-fluid">
        </div>
          <div class="col-md-8 ml-auto pl-md-5">
          <span class="text-cursive h5 text-red">Projet éducatif et pédagogique</span>
          <p>
            Le projet éducatif définit l'ensemble des valeurs, des choix de société et des références à partir desquels notre Pouvoir organisateur a développé ses objectifs éducatifs.
          </p>
          <p>
            Le projet pédagogique décrit les visées pédagogiques et les choix méthodologiques qui permettent au Pouvoir organisateur de mettre en œuvre son projet éducatif.
          </p>
        </div>

    </div>
    </div>
</div>

<div class="site-section bg-info">
    <div class="container">

      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-element01-list" data-toggle="list" href="#element01" role="tab" aria-controls="element01">1. Une école chrétienne dans un environnement ouvert</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="element01" role="tabpanel" aria-labelledby="list-element01-list">
              <div class="package text-left bg-white">
                <h3 class="text-red">Une école chrétienne dans un environnement ouvert</h3>
                <div class="text-left">
                    <p>
                      Ouvert et respectueux des autres cultures et croyances, le Collège du Biéreau est une école catholique, dont l’enseignement est basé sur l’Evangile de Jésus-Christ.

                      L’évangile et la parole de Jésus-Christ sont pour nous des moteurs de notre action, des référents et des guides.
                      Nous essayons de vivre et de transmettre ces valeurs chrétiennes dans tous les cours et en particulier dans celui de religion. C’est aussi dans les faits de tous les jours que nous vivons ces paroles fortes, dans la tolérance, le pardon, l’accueil et le respect de l’autre et de ses différences (voir aussi le point "Activités liées au cours de religion").

                      Notre place sur le site de Louvain-la-Neuve nous permet de tenir compte des recherches universitaires et autres en matières pédagogiques et didactiques. En pratique, des liens particuliers se tissent à certaines occasions avec certains services universitaires, lors de recherches ou de travaux dans lesquels l'école est impliquée.
                      L'école se situe dans un environnement culturel extrêmement riche et varié. De nombreuses familles d’origine ou de nationalité étrangère intègrent l'école. L'apport de cette diversité est d'ailleurs une force exploitée au niveau pédagogique, relationnel et cognitif car les enfants peuvent raconter leurs origines, partager leur culture, expliquer des modes de vie et des environnements parfois très différents, lors de discussions ou de présentations de recherches ou de travaux écrits.

                      Une caractéristique essentielle du Collège du Biéreau réside sans aucun doute dans la volonté d’apporter de la structure dans l'organisation, dans les activités pédagogiques et dans la gestion des relations qui se vivent à l'école. 
                    </p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Blublu</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Bloblo</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Blibli</div>
          </div>
        </div>
      </div>

    </div>
</div>


{% endblock %}


