{% extends 'base.html.twig' %}

{% block title %}Edit MenuEntry{% endblock %}

{% block body %}
    <h1>Edit MenuEntry</h1>

    {{ include('menu_entry/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_menu_entry_index') }}">back to list</a>

    {{ include('menu_entry/_delete_form.html.twig') }}
{% endblock %}
