{% extends 'base.html.twig' %}

{% block title %}New MenuEntry{% endblock %}

{% block body %}
    <h1>Create new MenuEntry</h1>

    {{ include('menu_entry/_form.html.twig') }}

    <a href="{{ path('app_menu_entry_index') }}">back to list</a>
{% endblock %}
