.banner {
    background: #009579;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
  }
  
  .banner__content {
    padding: 10px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
  }
  
  .banner__text {
    flex-grow: 1;
    line-height: 1.4;
    font-family: "Quicksand", sans-serif;
  }
  
  .banner__close {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .banner__text,
  .banner__close > span {
    color: #ffffff;
  }